@charset "utf-8";

/* CSS Document */

html {
    height: 100%;
    overflow-y: scroll;
}


/* body{
    margin:0;
    padding:0;
    font-size:16px;
    background-color: #fff;
    font-family:mediumg;
    color:#262626;
} */

@font-face {
    font-family: mediumg;
    src: url(fonts/Gotham-Medium.otf);
}

@font-face {
    font-family: bolde;
    src: url(fonts/Gotham-Bold 2.otf);
}

.desktopon {
    display: block;
}

.mobileon {
    display: none;
}

body.admin {
    background-image: none;
}

.container-fluid {
    /*padding-right: 0px;
    padding-left: 0px;*/
}

.logo {
    height: 80px;
}

.navbar {
    min-height: 80px;
    background-color: #ffffff;
    background-image: none;
}

.navbar-brand {
    padding: 0;
}

.question-box {
    background-color: #1d4d78;
    padding: 10px 20px;
    color: #e9ecef;
}

#question-form {
    margin: 0 auto;
}

#login-message {
    padding: 10px;
    margin: 10px;
}

#message {
    padding: 10px;
    margin: 10px 0;
}

.btnSpk {
    padding: 5px;
    font-size: 0.8em;
    width: 125px;
    margin-right: 3px;
}

#refProgress {
    width: 100%;
    background-color: #fff;
    ;
    position: relative;
}

#refBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

#timeleft {
    position: absolute;
    top: 4px;
    right: 10px;
    color: #1d4d78;
}

.links {
    background-color: #000;
    padding: 10px;
    color: #fff;
}

.links a {
    color: #ffffff;
    text-decoration: none;
}

#ques_count {
    display: inline-block;
}

.input-group {
    margin-bottom: 5px;
}

h3 {
    font-size: 1.5em;
    color: #f8f9fa;
}

.login-area {
    width: 80%;
    margin: 20px auto;
    border: 2px solid #616161;
}

.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.video-content {
    position: relative;
}

.login {
    padding: 20px;
    width: 100%;
    position: relative;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #3682c2;
}

#login-form {
    width: 100%;
    padding: 20px 30px 0px 35px;
}

.form-control {
    padding: 5px 10px;
    font-size: 1em;
    color: #424242;
    border: 2px solid #424242;
    border-radius: 0;
}

.form-control:focus {
    color: #000;
    background-color: #fff;
    border-color: rgb(108, 117, 125);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, .15);
}

.login-button {
    margin-top: 10px;
    color: #1d4d78;
    background-color: #fff;
    border: none;
    border-radius: 0;
}

.video {
    border: 2px solid #e9ecef !important;
    border-radius: 5px;
}

small {
    font-style: italic;
    font-size: 0.58em;
    color: #333;
}

.video-area {
    position: relative;
}

.video-content::before,
.content::before {
    content: '';
    position: absolute;
    left: -0;
    right: 0;
    top: 20%;
    bottom: 20%;
}

.submit {
    padding: 4px;
    background-color: #000;
    color: #fff;
    width: 80%;
    text-transform: uppercase;
}

.top-heading {
    background-color: #fff;
}

.info {
    max-height: 30px !important;
    width: auto;
}

.bottom-nav {
    background-color: #003058;
    text-align: center;
    min-height: auto;
}

.bottom-nav img {
    width: auto;
    max-height: 40px;
    margin: 0 auto;
}

.iresponsive {
    display: block;
    width: 85%;
}

.imgmob {
    display: none;
    width: 100%;
}

.text12 {
    font-family: bolde;
    font-size: 12px;
    font-weight: bold;
}

@media screen and (max-width: 991px) {
    .iresponsive {
        display: none;
        width: 100%;
    }
    .form-group {
        margin-bottom: 0rem;
    }
    .resps {
        max-width: 100%;
    }
    .login {
        width: 100%;
        position: relative;
        background-color: #f5f5f5;
        padding: 40px 20px;
        border-radius: 5px;
        border: 1px solid #3682c2;
    }
    #login-form {
        width: 100%;
        padding: 20px 30px 35px;
    }
    .col-md-12 {
        min-height: 40px;
    }
    .login {
        width: 100%;
        position: relative;
        background-color: #f5f5f5;
        border-radius: 5px;
        border: 1px solid #ffff;
    }
}

@media screen and (max-width: 768px) {
    /*.imgmob{
        padding-top: 599px;
        display:block;
        width:94%;
    }

    #login-form {
        width: 100%;
        padding: 0px 30px 170px;
    }*/
}

@media screen and (max-width: 766px) {
    /* .imgmob{
        padding-top: 0px;
        display:none;
        width:100%;
    }
    .respara{
        font-size: 12px;
        padding-top: 145px;
        padding-left: 25px;
    }
    #login-form {
        width: 100%;
        padding: 0px 25px 0px;
    }*/
}

@media screen and (max-width: 414px) {
    .desktopon {
        display: none;
    }
    .mobileon {
        display: block;
    }
    /* .respara{
        padding-top: 160px;
    }
    #login-form {
        width: 100%;
        padding: 0px 30px 0px;
    }
    .login{
        width:100%;
        position:relative;
        background-color: #f5f5f5;
        padding: 0px 22px;
        border-radius: 5px;
        border: 1px solid #f5f5f5;
    }*/
}

form#add-poll {
    text-align: left;
}

form#add-poll .form-control {
    border: 1px solid #ccc;
}

form#add-poll label {
    margin: 0 0 10px 0;
}


/*#polls{
    min-height:400px;
}*/

.pollques .col-12 {
    padding: 0;
}

.pollques form {
    text-align: left;
    margin: 0;
    padding: 20px 10px;
}

.pollopts {
    display: inline;
}

.pollques h6 {
    width: 100%;
    background-color: #ffc107;
    color: #343a40;
    font-size: 1em;
    padding: 10px 5px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    border-radius: 6px 6px 0 0;
}

.progress {
    margin-bottom: 10px;
}

.corrans {
    border: 2px solid #079007;
}

.wroans {
    border: 2px solid #AD0808;
}

.quiz-info {
    display: table-cell;
    border-right: 3px solid #000;
    padding: 5px 25px;
    font-size: 1em;
    width: 32%;
    vertical-align: top;
}

.quiz-info:last-child {
    border: 0;
}

.quiz-info h4 {
    font-size: 1.25em;
}

.pollques {
    background-color: #ced4da;
    border-radius: 6px 6px 0 0;
}

.quiz-update {
    background-color: #ddd;
    display: table;
    width: 100%;
    border-radius: 8px;
}